@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }
</style>
<br />
<div class="card alert-success">
    <div class="card-body">
        <h1 style="color:aliceblue">@ViewData["Title"]</h1>
        <p style="color:aliceblue">Please check your email to reset your password.</p>
    </div>
</div>

