@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<br/>
<div class="container shadow" style="background-color:rgb(150, 165, 234); border-radius:20px; max-width:600px;">
    <div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <section>
        <form method="post">
            <br/>
                        <h3 style="text-align:center; color:aliceblue">Forgot your password?</h3>
                        <h5 style="text-align:center; color:aliceblue">Send an email to reset your password here!</h5>
                        <hr />
                    <div class="form-floating">
                        <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label for="floatingInput" asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
            <br/>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            <br/>
        </form>
        <br/>
        </section>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
