@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }
</style>
@if (TempData["ConfirmEmailMessage"] != null)
{
    <br />
    <br />
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ConfirmEmailMessage"]
    </div>
}

<br />
<br />
<div class="container col-6 shadow-lg rounded-2" style="background-color:rgb(153, 187, 255)">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <br />
            <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">


                <h1 style="text-align: center; color: aliceblue"><img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:50px;" />Login</h1>
                <h5 style="text-align: center; color: aliceblue">Login and continue your journey!</h5>
                <br />
            </div>
            <hr />
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label for="floatingInput" asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                    <br />
                <div class="form-floating">
                    <input id="floatingPassword" placeholder="enter password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                    <br />
                <div>
                    <div class="checkbox">
                            <label style="color:aliceblue" asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                    <br />
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success shadow" style="background-color:powderblue; color:black">Log in</button>
                </div>
                    <br />
                <div class=" row d-flex justify-content-center">
                    <div class="col " style="text-align:center">
                        
                  

                    <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:aliceblue">Create an account</a>
                    </p>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword" style="color:aliceblue">Forgot your password?</a>
                            </p>
                    <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color:aliceblue">Resend email confirmation</a>
                    </p>

                </div>
                    </div>

            </form>
                <br />
        </section>
    </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
