@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
        ;
    }

    .registration-form {
        padding: 50px 0;
    }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .form-icon {
            text-align: center;
            background-color: white;
            border-radius: 50%;
            font-size: 40px;
            color: white;
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 50px;
            line-height: 100px;
        }

        .registration-form .item {
            border-radius: 20px;
            margin-bottom: 25px;
            padding: 10px 20px;
        }

        .registration-form .create-account {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #5791ff;
            border: none;
            color: white;
            margin-top: 20px;
        }

        .registration-form .social-media {
            max-width: 600px;
            background-color: #fff;
            margin: auto;
            padding: 35px 0;
            text-align: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            color: #9fadca;
            border-top: 1px solid #dee9ff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .social-icons {
            margin-top: 30px;
            margin-bottom: 16px;
        }

            .registration-form .social-icons a {
                font-size: 23px;
                margin: 0 3px;
                color: #5691ff;
                border: 1px solid;
                border-radius: 50%;
                width: 45px;
                display: inline-block;
                height: 45px;
                text-align: center;
                background-color: #fff;
                line-height: 45px;
            }

                .registration-form .social-icons a:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }

        /*media (max-width: 576px) {
        .registration-form form {
            padding: 50px 20px;
        }*/

        .registration-form .form-icon {
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 70px;
        }

    }
</style>

<br />
<br />
<div class="container shadow" style="background:linear-gradient(to bottom, #007bff, white); border-radius:20px; max-width:400px;">
<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <h1 style="text-align:center; color:aliceblue">Login</h1>
                <h5 style="text-align:center; color:aliceblue">Login and Find Your Dream Job!</h5>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label for="floatingInput" asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                    <br />
                <div class="form-floating">
                    <input id="floatingPassword" placeholder="enter password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                    <br />
                <div>
                    <div class="checkbox">
                            <label style="color:aliceblue" asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                    <br />
                <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success shadow" style="background-color:#3C9AFF; color:white">Log in</button>
                </div>
                    <br />
                <div class="d-flex justify-content-center">
                    <div class="col-md-8">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="color:black">Forgot your password?</a>
                    </p>

                    <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:black">Create an account</a>
                    </p>

                    <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color:black">Resend email confirmation</a>
                    </p>

                </div>
                    </div>

            </form>
                <br />
        </section>
    </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
