@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<br />
@if (TempData["ConfirmEmailMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ConfirmEmailMessage"]
    </div>
}

<br />
<br />
<div class="container shadow" style="background-color:rgb(150, 165, 234); border-radius:20px; max-width:600px;">
<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <h1 style="text-align:center; color:aliceblue">Login</h1>
                <h5 style="text-align:center; color:aliceblue">Login and continue your journey!</h5>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label for="floatingInput" asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                    <br />
                <div class="form-floating">
                    <input id="floatingPassword" placeholder="enter password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                    <br />
                <div>
                    <div class="checkbox">
                            <label style="color:aliceblue" asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                    <br />
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success shadow" style="background-color:powderblue; color:black">Log in</button>
                </div>
                    <br />
                <div class="d-flex justify-content-center">
                    <div class="col-md-8">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="color:aliceblue">Forgot your password?</a>
                    </p>

                    <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:aliceblue">Create an account</a>
                    </p>

                    <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color:aliceblue">Resend email confirmation</a>
                    </p>

                </div>
                    </div>

            </form>
                <br />
        </section>
    </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
