@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
}

.registration-form {
    padding: 50px 0;
}


    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

</style>
<br />
<br />
<div class="container shadow" style="background: linear-gradient(to bottom, #007bff, white); border-radius:20px; max-width:600px;">
<div class="row  d-flex justify-content-center">

    <div class="col-md-8 ">
        <form class="form-group " id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h1 style="text-align:center; color:aliceblue">Sign Up</h1>
                <h5 style="text-align:center; color:aliceblue">Get Employed Today!</h5>
            <hr />
            <fieldset>

                    <div class="form-icon">
                        <span><i class="icon icon-user"></i></span>
                    </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                    <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label for="floatingInput" asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                    <input id="floatingPassword" placeholder="enter password"  asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                    <input id="floatingPassword" placeholder="confirm password" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label for="floatingPassword"  asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option disabled selected> Select Role</option>
                    <option > Employee</option>
                    <option > Employer</option>

                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
                </fieldset>
            <br />
                <div class="d-flex justify-content-center">
            <div class="col-md-8">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success shadow  " style="background-color:#3C9AFF; color:white">Sign Up</button>
            </div>
                </div>
                <br />
        </form>
            <br />
    </div>
   
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
