@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
}
</style>
<br />
<br />
<div class="container col-8 shadow-lg rounded-2" style="background-color:rgb(153, 187, 255)">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <br />
            <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">


                <h1 style="text-align: center; color: aliceblue"><img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:50px;" />Sign Up</h1>
                <h5 style="text-align: center; color: aliceblue">Sign up and start your journey!</h5>
                <br />
            </div>
            <hr />
        <form class="form-group " id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <fieldset>

                    <div class="form-icon">
                        <span><i class="icon icon-user"></i></span>
                    </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                    <input id="floatingInput" placeholder="enter email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label for="floatingInput" asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                    <input id="floatingPassword" placeholder="enter password"  asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label for="floatingPassword" asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                    <input id="floatingPassword" placeholder="confirm password" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label for="floatingPassword"  asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option disabled selected> Select Role</option>
                    <option > Employee</option>
                    <option > Employer</option>

                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
                </fieldset>
            <br />
                <div class="d-flex justify-content-center">
            <div class="col-md-8 d-flex justify-content-center">
                        <button id="registerSubmit" type="submit" role="button" class="button-29">  <p class="align-content-center justify-content-between" style="font-size:30px; padding-top:10px">Register</p>   </button>
            </div>
                </div>
                <br />
                <div style="text-align:center">
                <p> Already have an account?
                    <a id="login" asp-page="./Login" style="color:aliceblue">Login</a>
                </p>
                </div>
        </form>
            <br />
    </div>
   
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
