@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }
</style>
<br />
<div class="card alert-success">
    <div class="card-body">
        <h1 style="color:aliceblue">@ViewData["Title"]</h1>
        <p style="color:aliceblue">
            Your password has been reset. Please <a asp-page="./Login" style="color:aliceblue">click here to log in</a>.
        </p>
    </div>
</div>


