@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }
</style>
<br/>
<br/>
<br />
<div class="container col-6 shadow-lg rounded-2" style="background-color:rgb(153, 187, 255)">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <br />
            <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">


                <h1 style="text-align: center; color: aliceblue"><img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:50px;" />Reset Password</h1>
                <h5 style="text-align: center; color: aliceblue">Reset your password</h5>
                <br />
            </div>
            <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <br />
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                <br />
                <br />
        </form>
            <br />
    </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
