@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }
</style>
<br />
<br />
<br />
<div class="container col-6 shadow-lg rounded-2" style="background-color:rgb(153, 187, 255)">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <br />
            <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">


                <h3 style="text-align: center; color: aliceblue"><img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:50px;" />Resend email confirmation</h3>
                <h5 style="text-align: center; color: aliceblue">Enter your email</h5>
                <br />
            </div>
            <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <br />
                <div class="d-flex justify-content-center">
                <button type="submit" role="button" class="button-29"> <p class="align-content-center justify-content-between" style="font-size:30px; padding-top:10px">Resend</p></button>
             </div>
                <br/>
               
        </form>
        <br/>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
