
.vs/Job_Search_Application/FileContentIndex/5e0d47c6-08cf-4c5a-85ba-ebc46c8c15f3.vsidx
.vs/Job_Search_Application/FileContentIndex/8281fb77-a34d-491d-ae86-900d2abbae80.vsidx
.vs/Job_Search_Application/FileContentIndex/a21caa45-1b8b-4a8e-9f75-e69584d747e3.vsidx
.vs/Job_Search_Application/FileContentIndex/f341ee3e-02bb-4576-89a5-5898824bf064.vsidx
