@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<br/>

<div>
    <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">


                <h1 style="text-align: center; color: aliceblue"><img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:50px;" />Manage your account</h1>
                <h5 style="text-align: center; color: aliceblue">Change your account settings</h5>
                <br />
            </div>
            <hr />
    <div class="row shadow-lg rounded-2" style="background-color: transparent; background-color:rgb(204, 221, 255)">
        <br />
        <br />
        <div class="col-md-3">
            <br />
            <partial name="_ManageNav" />
        </div>
      
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
