@model Job_Search_Application.ViewModels.JobViewModel;
@{
    ViewData["Title"] = "About Us";
}

<br/>
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
<h2>About Us</h2>
    <div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
        <br/>
        <h5>WorkWize is an institute of technology dedicated to making your job search that much easier. We are dedicated in helping anyone find a job or an employee without any hassle.</h5>
        <br/>
        <h5>Our company is a subsidiary of Techtorium Institute of Technology and was originally created out of an assignment between students before being blown up into an full and active comapany.</h5>
        <br/>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What are you?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        We are <strong>legion</strong>. We are <strong>many</strong>. We are <strong>one</strong>.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Can we support the website financially in any way?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We currently do not have a way to support us with money. However, a service may become possible in the future if we do not have enough costs to keep this running.
                    </div>
                </div>
            </div>
        </div>
        <br/>
      </div>
      </div>
   </div>