<style>
    body {
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    }
    </style>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>

<br/>
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
<h1>About Workwize</h1>
        <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
            <div class="d-flex">
                <div class="mr-3">
                    <lord-icon src="https://cdn.lordicon.com/hbvyhtse.json"
                               trigger="hover"
                               colors="primary:#ee8f66"
                               style="width:250px;height:250px">
                    </lord-icon>
                </div>
                <div>
                     <br />
                    <h4>Our Commitment</h4>
                    <p>
                        At WorkWize, we are dedicated to revolutionizing the job search and hiring process, providing a seamless and efficient platform that connects job seekers with exceptional opportunities and empowers employers to find the perfect candidates. Our comprehensive job feeds, advanced search filters, and user-friendly interface ensure that job seekers can easily navigate through a multitude of relevant job listings tailored to their preferences and skills. Meanwhile, our powerful hiring tools, including job analytics and streamlined application management, equip employers with the tools they need to make informed decisions and find the right talent to drive their organizations forward. With our commitment to exceptional value and continuous innovation, we strive to create a thriving ecosystem where job seekers and employers can achieve their goals with confidence and ease.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
            <div class="d-flex">  
                <div>
                    <br />
                    <h4>Comprehensive Job Search Platform</h4>
                    <p>
                        At WorkWize, we are dedicated to providing a comprehensive job search platform that benefits both job seekers and employers. Our website offers an extensive job feeds page with multiple search bars and advanced filtering features, enabling job seekers to find relevant job opportunities tailored to their preferences and skills.
                    </p>
                    <br />
                    <h4>Streamlined Application Process</h4>
                    <p>
                        For job seekers, our platform not only facilitates the job search process but also simplifies the application process. Users can apply for jobs directly through our platform, saving time and effort. Additionally, they can save jobs of interest, connect with employers, and track their applications all in one place.
                    </p>
                </div>
                <div class="mr-3">
                    <lord-icon src="https://cdn.lordicon.com/rlizirgt.json"
                               trigger="hover"
                               colors="primary:#eeca66"
                               state="hover"
                               style="width:250px;height:250px">
                    </lord-icon>

                </div>
            </div>
        </div>


        <br />
        <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
            <div class="d-flex">
                <div class="ml-3">
                    <lord-icon src="https://cdn.lordicon.com/oezixobx.json"
                               trigger="hover"
                               colors="primary:#1663c7"
                               style="width:250px;height:250px; text-align:center">
                    </lord-icon>

                </div>
                <div>
                    <br />
                    <h4>Powerful Hiring Tool</h4>
                    <p>
                        Employers, on the other hand, benefit from WorkWize as a powerful hiring tool. They can post and manage multiple job listings, save drafts, edit listings, activate or deactivate jobs as needed, and track all interactions with applicants. Our platform also provides job analytics, allowing employers to gain insights into the performance of their listings.
                    </p>
                    <br />
                    <h4>Efficient Hiring Process</h4>
                    <p>
                        We understand the importance of a seamless hiring process. Employers can accept applications, schedule interviews, and mark applicants as interviewed, all within our platform. Once the hiring decision is made, employers can easily hire the selected candidate.
                    </p>
                </div>
               
            </div>
        </div>

        <br />
        

      </div>


   </div>