<style>
    body {
        background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    }
    </style>
<br/>
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
<h1>About Us</h1>
        <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
        <br/>
            <h4>Comprehensive Job Search Platform</h4>
            <p>
                At WorkWize, we are dedicated to providing a comprehensive job search platform that benefits both job seekers and employers. Our website offers an extensive job feeds page with multiple search bars and advanced filtering features, enabling job seekers to find relevant job opportunities tailored to their preferences and skills.
            </p>
        <br/>
            <h4>Streamlined Application Process</h4>
            <p>
                For job seekers, our platform not only facilitates the job search process but also simplifies the application process. Users can apply for jobs directly through our platform, saving time and effort. Additionally, they can save jobs of interest, connect with employers, and track their applications all in one place.
            </p>
        <br/>

        <br/>
      </div>
        <br />
          <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
        <br/>
            <h4>Powerful Hiring Tool</h4>
            <p>
                Employers, on the other hand, benefit from WorkWize as a powerful hiring tool. They can post and manage multiple job listings, save drafts, edit listings, activate or deactivate jobs as needed, and track all interactions with applicants. Our platform also provides job analytics, allowing employers to gain insights into the performance of their listings.
            </p>
            <br />
            <h4>Efficient Hiring Process</h4>
            <p>
                We understand the importance of a seamless hiring process. Employers can accept applications, schedule interviews, and mark applicants as interviewed, all within our platform. Once the hiring decision is made, employers can easily hire the selected candidate.
            </p>

        <br/>
      </div>
        <br />
        <div class="container-fluid shadow" style="background-color:white; border-radius:10px;">
            <br />
            <h4>Our Commitment</h4>
            <p>
                At WorkWize, we are committed to creating a user-friendly and efficient platform that simplifies the job search and hiring process for both job seekers and employers. We strive to deliver exceptional value by connecting talented individuals with great job opportunities and helping employers find the right candidates for their organizations.
            </p>
            <br />
        </div>
      </div>


   </div>