@model Job_Search_Application.ViewModels.JobViewModel;
@{
    ViewData["Title"] = "About Us";
}

<br/>
<h2>About Us</h2>
<div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
    <div class="row d-flex justify-content-center">
        <br/>
        <h5>WorkWize is an institute of technology dedicated to making your job search that much easier. We are dedicated in helping anyone find a job or an employee without any hassle.</h5>
        <br/>
        <h5>Our company is a subsidiary of Techtorium Institute of Technology and was originally created out of an assignment between students before being blown up into an full and active comapany.</h5>
        <br/>
    </div>
</div>