@model Job_Search_Application.ViewModels.JobViewModel;
@{
    ViewData["Title"] = "Contact Us";
}

<br/>
<h2>Contact Us</h2>
<div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
    <div class="row d-flex justify-content-center">
        <br/>
        <h5>Phone Number: 021 WORK WIZE (021 9675 9493)</h5>
        <br/>
        <h5>Email: theworkwize@gmail.com</h5>
        <br/>
        <h5>Address: 182 Broadway, Newmarket, Auckland 1023</h5>
        <br/>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Need help ASAP? Send us a message here!</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        <br/>
    </div>
</div>
