@model Job_Search_Application.ViewModels.JobViewModel;
@{
    ViewData["Title"] = "Contact Us";
}
<style>

.row {
   content: "";
   clear: both;
}

</style>

<br/>
<div class="row d-flex justify-content-center">
<div class="col-md-10"> 
<h2>Contact Us</h2>
<div class="row">
    <div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
        <br/>
        <h5>Phone Number: 021 WORK WIZE (021 9675 9493)</h5>
        <br/>
        <h5>Email: theworkwize@gmail.com</h5>
        <br/>
        <h5>Address: 182 Broadway, Newmarket, Auckland 1023</h5>
        <br/>
    </div>
</div>
<br/>
<hr/>
<br/>
<div class="row">
    <div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
        <br/>
            <h5>Need help ASAP? Contact us immediately here!</h5>
            <br/>
            <div class="form-group">
                <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="Name"></textarea>
                <br/>
                <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="Email"></textarea>
                <br/>
                <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="Phone number"></textarea>
                <br/>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Describe your problem here."></textarea>
                <br />
                <button type="button" class="btn btn-primary">Submit</button>
                <br />
            </div>
        <br />
    </div>
    </div>
  </div>
</div>
