@{
    ViewData["Title"] = "Home Page";
}
﻿@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<style>
    .container {
        text-align: center;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .cssbuttons-io-button {
        background: #3C9AFF;
        color: white;
        font-family: inherit;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #714da6;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
    }

        .cssbuttons-io-button .icon {
            background: white;
            margin-left: 1em;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.2em;
            width: 2.2em;
            border-radius: 0.7em;
            box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
            right: 0.3em;
            transition: all 0.3s;
        }

        .cssbuttons-io-button:hover .icon {
            width: calc(100% - 0.6em);
        }

        .cssbuttons-io-button .icon svg {
            width: 1.1em;
            transition: transform 0.3s;
            color: #7b52b9;
        }

        .cssbuttons-io-button:hover .icon svg {
            transform: translateX(0.1em);
        }

        .cssbuttons-io-button:active .icon {
            transform: scale(0.95);
        }

    .button-container {
        margin-left: 150px;
        display: flex;
    }

    .banner {
        background: linear-gradient(90deg, #4F6BC7, #223B90);
        padding: 70px;
        display: flex;
        justify-content: center;
    }

    .input {
        color: #fff;
        font-size: 0.9rem;
        background-color: transparent;
        width: 100%;
        box-sizing: border-box;
        padding-inline: 0.5em;
        padding-block: 0.7em;
        border: none;
        border-bottom: var(--border-height) solid var(--border-before-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .input-border {
        position: absolute;
        background: var(--border-after-color);
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    .input:focus {
        outline: none;
    }

        .input:focus + .input-border {
            width: 100%;
        }

    .form-control {
        position: relative;
        width: 100%;
        --width-of-input: 300px;
    }

    .input-alt {
        font-size: 1.2rem;
        padding-inline: 1em;
        padding-block: 0.8em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .input-border-alt {
        height: 3px;
        background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
        transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
    }

    .input-alt:focus + .input-border-alt {
        width: 100%;
    }

    label {
        font-weight: bold;
    }

    select {
        background-color: #3C9AFF;
        ;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        color: black;
    }



    .contact-section a {
        text-decoration: underline;
        color: #000;
    }


    section {
        position: relative;
        display: flex;
        width: 1920px;
        background-color: black;
    }

    .image-container {
        position: relative;
        flex: 1;
    }

        .image-container img {
            object-fit: cover;
        }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 24px;
    }

    .create-profile-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .card {
        max-width: 320px;
        border-width: 1px;
        border-color: rgba(219, 234, 254, 1);
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 1);
        padding: 1rem;
    }

    .header {
        display: flex;
        align-items: center;
        grid-gap: 1rem;
        gap: 1rem;
    }

    .icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        background-color: rgba(96, 165, 250, 1);
        padding: 0.5rem;
        color: rgba(255, 255, 255, 1);
    }

        .icon svg {
            height: 1rem;
            width: 1rem;
        }

    .alert {
        font-weight: 600;
        color: rgba(107, 114, 128, 1);
    }

    .message {
        margin-top: 1rem;
        color: rgba(107, 114, 128, 1);
    }

    .actions {
        margin-top: 1.5rem;
    }

        .actions a {
            text-decoration: none;
        }

    .mark-as-read, .read {
        display: inline-block;
        border-radius: 0.5rem;
        width: 100%;
        padding: 0.75rem 1.25rem;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
    }

    .read {
        background-color: rgba(59, 130, 246, 1);
        color: rgba(255, 255, 255, 1);
    }

    .mark-as-read {
        margin-top: 0.5rem;
        background-color: rgba(249, 250, 251, 1);
        color: rgba(107, 114, 128, 1);
        transition: all .15s ease;
    }

        .mark-as-read:hover {
            background-color: rgb(230, 231, 233);
        }

    .card-container {
        justify-content: center;
        display: flex;
    }

    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
    }

        .cta:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50px;
            background: #b1dae7;
            width: 45px;
            height: 45px;
            transition: all 0.3s ease;
        }

        .cta span {
            position: relative;
            font-family: "Ubuntu", sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #234567;
        }

        .cta svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #234567;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:hover:before {
            width: 100%;
            background: #b1dae7;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.95);
        }

</style>



<div class="container">
    <h1 style="margin-top: 10px;">Welcome to Our Job Portal</h1>
    <p>
        Explore job opportunities and find your dream career.
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench-adjustable-circle-fill" viewBox="0 0 16 16">
            <path d="M6.705 8.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z" />
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm-6.202-4.751 1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2a7.031 7.031 0 0 1-2.949-2.951ZM12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z" />
        </svg>
    </p>


</div>
<div class="banner">
    <div class="form-control">
        <!-- Home Page -->
        <form class="d-flex" method="get" action="/Job/JobsFeed">
            <input class="input input-alt " style="color:black" type="search" name="searchTerm1" placeholder="Job title, part-time....">
            <span class="input-border input-border-alt"></span>
            <div class="col" style="padding-left:20px; padding-top:8px">
                <button role="button" class="button-29"  type="submit">
                    <img src="~/resources/websitefiles/WorkWize__Logo2.png" style=" max-width:30px;" />
                    Search
                </button>
            </div>
        </form>
       
      
    </div>
</div>


<div class="card-container">
    <div class="card" style="background-color: powderblue; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16" style=" margin-left: 130px;">
            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
        </svg>
        <p class="message">
            Looking for a Job? Or just want to browse through Job?
        </p>
        <p>
            Come and be Wize at Work
        </p>
        <div class="actions">
            <button class="cssbuttons-io-button" style="margin-left: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16" style="margin-right: 10px;">
                    <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                    <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z" />
                </svg>Search Jobs
                <a href="#" class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </a>
            </button>
        </div>
    </div>

    <div class="card" style="background-color: powderblue; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16" style="margin-left: 130px;">
            <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
        </svg>
        <p class="message">
            Looking to Hiring People? Or just want to upload your Company?

        </p>
        <p>
            Come and Find Wize people to work?
        </p>

        <div class="actions">
            <button class="cssbuttons-io-button" style="margin-left: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right: 10px;">
                    <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
                    <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
                    <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
                </svg> Post a Job
                <a href="#" class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </a>
            </button>
        </div>
    </div>

</div>

<div class="signup-section" style="margin-top: 50px;">
    <p style="font-size: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16" style="margin-right: 8px;">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
        </svg>
        <a href="signup.html"><button class="cta"><span>Sign up</span><svg viewBox="0 0 13 10" height="10px" width="15px"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></button></a> or <a href="login.html"><button class="cta"><span>Login</span><svg viewBox="0 0 13 10" height="10px" width="15px"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg></button></a> to manage your WorkWize Profile, see recommended jobs, or upload a Job.
    </p>
</div>

<div class="contact-section" style="margin-top: 50px;">
    <p style="font-size: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16" style="margin-right: 5px;">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z" />
        </svg> Need to Contact Us? Contact us <a href="contact.html">Here</a>
    </p>
</div>


<script>
    $(document).ready(function () {
        // Restore input field values from sessionStorage
        $('#jobTitleInput').val(sessionStorage.getItem('jobTitle'));
        $('#locationSearch').val(sessionStorage.getItem('location'));
        // Restore values of other form fields as needed

        // Store input field values in sessionStorage on form submission
        $('form').on('submit', function () {
            sessionStorage.setItem('jobTitle', $('#jobTitleInput').val());
            sessionStorage.setItem('location', $('#locationSearch').val());
            // Store values of other form fields as needed
        });
    });
</script>
