@model Job_Search_Application.ViewModels.EmployerProfileViewModel;
@{
    ViewData["Title"] = "Create";
}



<br />
<br />
<div class="container-fluid shadow" style="background:linear-gradient(to bottom, #007bff, white); border-radius:20px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <h1 style="text-align:center; color:aliceblue">Complete your profile</h1>
            <h5 style="text-align:center; color:aliceblue">Your journey starts here!</h5>
            <hr />
            <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col">
            <div class="form-group">
            <label asp-for="Company_Name" class="control-label"></label>
            <input asp-for="Company_Name" class="form-control" />
            <span asp-validation-for="Company_Name" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
            <label asp-for="Company_CEO" class="control-label"></label>
            <input asp-for="Company_CEO" class="form-control" />
            <span asp-validation-for="Company_CEO" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Company_Industry" class="control-label"></label>
                    <input asp-for="Company_Industry" class="form-control" />
                    <span asp-validation-for="Company_Industry" class="text-danger"></span>
                </div>
            </div>
         
                <div class="col">
            <div class="form-group">
            <label asp-for="Company_Description" class="control-label"></label>
            <input asp-for="Company_Description" class="form-control" />
            <span asp-validation-for="Company_Description" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
          
            </div>
            
                <div class="col">
                <div class="form-group">
                    <label asp-for="Company_URL" class="control-label"></label>
                    <input type="url" asp-for="Company_URL" class="form-control" />
                    <span asp-validation-for="Company_URL" class="text-danger"></span>
                </div>
           
            </div>
            </div>
            <div class="row">
            <div class="col">
                        <div class="form-group">
                            <label for="formFile" asp-for="Company_Logo" class="control-label"></label>
                            <input type="file" id="formFile" asp-for="Company_Logo" class="form-control" />
                            <span asp-validation-for="Company_Logo" class="text-danger"></span>
                        </div>
      
            </div>
              
                <div class="col">
                        <div class="form-group">
                            <label for="formFile" asp-for="Company_Banner" class="control-label"></label>
                            <input type="file" id="formFile" asp-for="Company_Banner" class="form-control" />
                            <span asp-validation-for="Company_Banner" class="text-danger"></span>
                        </div>
            </div>
            </div>
                <br />
                <div class="d-flex justify-content-center">
                    <div class="col-md-8">
                        <fieldset>
                            <button type="submit" value="Create" class="w-100 btn btn-lg btn-success shadow  " style="background-color:powderblue; color:black" id="save">Submit</button>
                        </fieldset>
                    </div>
                </div>
                <br />
                

        </form>
            <br />

    </div>
</div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}