@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br/>
<br/>

<div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
    <br/>
    <div class="row">
        <h3>Job Type</h3>
    </div>
    <div class="row">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Job title, company, part-time...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <br/>
    <div class="row">
        <h3>Your listings</h3>
        <br/>
    </div>
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-9 shadow" style="background-color:rgb(255, 255, 255); border-radius:20px;">
            <br/>
            <h4>Job name | Location</h4>
            <h5>Company Name</h5>
            <h5>Expected hours</h5>
            <p>Job description</p>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-9 shadow" style="background-color:rgb(255, 255, 255); border-radius:20px;">
            <br/>
            <h4>Job name | Location</h4>
            <h5>Company Name</h5>
            <h5>Expected hours</h5>
            <p>Job description</p>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-9 shadow" style="background-color:rgb(255, 255, 255); border-radius:20px;">
            <br />
            <h4>Job name | Location</h4>
            <h5>Company Name</h5>
            <h5>Expected hours</h5>
            <p>Job description</p>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <br/>
    </div>