@model EmployerReviewRequest_Model;
<br />
@if (TempData["ProfileMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["ProfileMessage"]  @Model.JobReviewRequest_Id
    </div>
}