@model Job_Search_Application.ViewModels.EmployeeProfileViewModel;
@{
    ViewData["Title"] = "Update";
}

<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }

    .registration-form {
        padding: 50px 0;
    }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }
</style>


<br />
<br />
<div class="container shadow" style="background: linear-gradient(to bottom, #007bff, white); border-radius:20px; max-width:800px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <h1 style="text-align:center; color:aliceblue">Edit profile</h1>
            <hr />
            <form asp-action="Update" method="post" enctype="multipart/form-data" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="ProfileImage">Profile Image:</label>
                    <div class="form-group" style="display: flex; align-items: center;">
                        <input asp-for="ProfileImage" type="file" class="form-control" onchange="previewImage(event)" placeholder="Insert Image">
                        <img id="photoPreview" src="#" alt=" " style="width: 150px; height: 150px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="First_name" class="control-label">First Name:</label>
                            <input asp-for="First_name" value="@Model.First_name" class="form-control" />
                            <span asp-validation-for="First_name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Last_name" class="control-label"></label>
                            <input asp-for="Last_name" class="form-control" />
                            <span asp-validation-for="Last_name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="birthDate" class="control-label"></label>
                            <input type="date" asp-for="birthDate" class="form-control" />
                            <span asp-validation-for="birthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <fieldset class="form-group">
                    <label class="control-label"> Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Gender" type="radio" name="Gender" id="GenderMale" value="Male" checked="checked">
                        <label class="form-check-label" asp-for="Gender" for="GenderMale">
                            Male
                        </label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Gender" type="radio" name="Gender" id="GenderFemale" value="Female" checked="checked">
                        <label class="form-check-label" asp-for="Gender" for="GenderFemale">
                            Female
                        </label>

                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </fieldset>
                <div class="form-group">
                    <label for="formFile" asp-for="Resume" class="control-label"></label>
                    <input type="file" id="formFile" asp-for="Resume" class="form-control" />
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <div class="col-md-8">
                        <fieldset>
                            <button type="submit" value="Create" class="w-100 btn btn-lg btn-success shadow  " style="background-color:#3C9AFF; color:white" id="save">Submit</button>
                        </fieldset>
                    </div>
                </div>
                <br />
            </form>
            <br />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function previewImage(event) {
                var fileInput = event.target;
                var photoPreview = document.getElementById('photoPreview');

                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        photoPreview.src = e.target.result;
                        photoPreview.style.display = 'block';
                    };

                    reader.readAsDataURL(fileInput.files[0]);
                } else {
                    photoPreview.src = '';
                    photoPreview.style.display = 'none';
                }
            }
        </script>
    }
}