html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-dropdown {
    position: relative;
    display: inline-block;
}
#locationDropdown {
    width: 200px; /* Adjust the width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    top: calc(100% + 5px); /* Position the dropdown below the field */
    left: 0; /* Align the dropdown with the left side of the field */
}

    #locationDropdown li {
        cursor: pointer;
        padding: 5px;
    }

        #locationDropdown li:hover {
            background-color: #f5f5f5;
        }

.multiple-values span {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between values */
}

h1 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

h3 {
    font-family: 'Rubik', sans-serif;
}

.navbar-nav .nav-link {
    position: relative;
    transition: color 0.3s;
    
}

    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%;
    }

    .navbar-nav .nav-link:hover {
        transform: scale(1.1);
    }

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}



    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }



        .site-footer hr.small {
            margin: 20px 0
        }



    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }



    .site-footer a {
        color: #737373;
    }



        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }



.footer-links {
    padding-left: 0;
    list-style: none
}



    .footer-links li {
        display: block
    }



    .footer-links a {
        color: #737373
    }



        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }



    .footer-links.inline li {
        display: inline-block
    }



.site-footer .social-icons {
    text-align: right
}



    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }



.copyright-text {
    margin: 0
}



@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}



@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }



        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}



.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}



    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }



        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }



    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }



        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }



    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }



    .social-icons a.facebook:hover {
        background-color: #3b5998
    }



    .social-icons a.twitter:hover {
        background-color: #00aced
    }



    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }



    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }



@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}



/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    /* Add disabled style */
    opacity: 1;
    pointer-events: auto;
}

.button-29:disabled {
    /* Apply disabled style */
    opacity: 0.6;
    pointer-events: none;
}
.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ff6374 0, #ff4d5a 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

    .button-30:focus {
        box-shadow: #ff4d5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff4d5a 0 -3px 0 inset;
    }

    .button-30:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff4d5a 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-30:active {
        box-shadow: #ff4d5a 0 3px 7px inset;
        transform: translateY(2px);
    }

.button-31 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #59d659 0, #3fb03f 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

    .button-31:focus {
        box-shadow: #3fb03f 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3fb03f 0 -3px 0 inset;
    }

    .button-31:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3fb03f 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-31:active {
        box-shadow: #3fb03f 0 3px 7px inset;
        transform: translateY(2px);
    }

.button-32 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffd700 0, #ffcc00 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

    .button-32:focus {
        box-shadow: #ffcc00 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffcc00 0 -3px 0 inset;
    }

    .button-32:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffcc00 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-32:active {
        box-shadow: #ffcc00 0 3px 7px inset;
        transform: translateY(2px);
    }
