html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-dropdown {
    position: relative;
    display: inline-block;
}
#locationDropdown {
    width: 200px; /* Adjust the width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    top: calc(100% + 5px); /* Position the dropdown below the field */
    left: 0; /* Align the dropdown with the left side of the field */
}

    #locationDropdown li {
        cursor: pointer;
        padding: 5px;
    }

        #locationDropdown li:hover {
            background-color: #f5f5f5;
        }

.multiple-values span {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between values */
}
